
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <a href="/">to home page </a>
    <br/>

    <p>
        This is the editor.
    </p>

    <div>
        <span style="font-weight: bold; color: black; background: rgba(200,200,200,0.5); padding: 5px; margin: 5px;">
            Selected A Page To Edit: {{ data.selectedOption }}
        </span>
        <div style="height: 10px;"></div>
        <label for="selectOption">Select an option:</label>
        <select id="selectOption" v-model="selectedOption" @change="handleOptionChange(selectedOption)">
            <option value="">-- Select --</option>
            <option v-for="option in data.html_vec" :key="option">{{ option }}</option>
        </select>
    </div>
<!-- NOT UPDATING -->
    <br/>
    <div>
        <div style="background: white; color: black; width:calc(100% + 10px)">
            <div style="display: flex;">
                <div style="display: inline-block; flex: 1;">
                    <div v-html="data.html_backend"></div>
                </div>
                <div style="display: inline-block; flex: 1; margin-top: -10px; margin-left: 10px;">
                    <textarea v-model="data.html_frontend" placeholder="This is where you edit html text"
                    style="height:calc(100% + 10px); width:100%; resize: none;"
                    v-on:input="handleKeyPress($event.target.value)"
                    ></textarea>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

  const { createApp, ref, reactive, onMounted, watch } = Vue;

  createApp({
    setup() {
      let data = reactive({
        html_vec: {},
        html_backend: '',
        html_frontend: '',
        lastkeypresstime: Date.now(),
        selectedOption: 'No Page Currently Selected To Edit', 
      });

      const handleKeyPress = (someval) => {

        fetch("http://localhost:3030/update_html_page", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                path: data.selectedOption,
                html: data.html_frontend
            })
        })
        .then((response) => {
            return response.json();
        })
        .then((jsonObject) => {
            console.log("Parsed JSON object html: ", jsonObject.html);
            let dummydata = data;
            dummydata.html_backend = jsonObject.html;
            data = dummydata;
        })
        .catch((error) => {
            console.log("this is the value of the error: ", error)
        });
      }

      const handleOptionChange = (selectedValue) => {
        console.log("value of selecteValue: ", selectedValue);
        let dummydata = data;
        dummydata.selectedOption = selectedValue;

        fetch("http://localhost:3030/return_html_page", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: "peter", 
                path: selectedValue
            })
        })
        .then((response) => {
            return response.json();
        })
        .then((jsonObject) => {
            dummydata.html_backend = jsonObject.html;
            dummydata.html_frontend = jsonObject.html;
            data = dummydata;
            console.log('value of dummydata: ', dummydata);
            console.log('value of data: ', data);
        })
        .catch((error) => {
            console.log("this is the value of the error: ", error)
        });
      };

      onMounted(() => {
        console.log("inside onMounted");
        fetch('http://localhost:3030/get_doc_list')
          .then(response => response.json())
          .then(res => {
            data.html_vec = res.data;
            console.log("value of message: ", data);
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      });

      return {
        data,
        handleOptionChange, 
        handleKeyPress
      }
    }
  }).mount('#app')
</script>

<style>
    body, html{
        background: rgba(100,100,100,0.8);
        margin: 0;
        padding: 5px;
        color: lightgrey;
    }
    a{
        color: red;
    }
    body{
        padding: 10px;
    }
</style>